/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*reset*/

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
  }

  textarea, input{
    -webkit-appearance: none;
    outline: 0;
    border-radius: 3px;
    resize: none;
    border: 0;
    box-shadow: inset 0 0 0 1px #9ea4a7;
    overflow: auto;
    vertical-align: top;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: start;
  }
  textarea:focus, input:focus{
    box-shadow: inset 0 0 0 1px #008ddf;
  }


/*content*/

#content{
  width: 100vw;
}

/*app*/

.app{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/*header*/

.header{
  background: #dddddd;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

/*body*/

.body{
  margin-top: 75px;
  display: flex;
  justify-content: center;
  flex: 1;
  /* July 20 I commented these out because centering the flex children of the body */
  /* sent half of the tracks index off the top of the screen -MM */

  justify-content: center;
  align-items: center;*/
  /*height: 700px;*/
  width: 100%;
  background-color: #e2e2e2;
}


/*footer*/

footer{
  height: 75px;
  background-color: purple;
}

/*buttons*/

.button{
  padding: 0px 20px;
  margin: 10px 20px 10px 10px;
  color: white;
  background-color: #128fdc;
  min-width: 100px;
  display: block;
  cursor: pointer;
  text-align: center;
  border: 0;
  border-radius: 3px;
  height: 32px;
  outline: none;
}

.header-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*width: 400px;*/
}

.facebook-button{
  background: #4c69ba;
  padding: 0px 20px;
  border: 0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  height: 32px;
}

/*index*/

.index{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
}

.index-photo{
  display: flex;
  height: 450px;
  background-image: url('http://res.cloudinary.com/pulsr/image/upload/v1469032074/Cumulonimbus/girl-dancing-in-sky-with-dark-clouds-HD.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-header{
  font-size: 36px;
  color: white;
}
.index-desc{
  font-family: 'Neuton', serif;
  color: white;
  font-size: 24px;
}

/*searchbar*/
.search-field input{
  background: white;
  /*-webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;*/
  box-shadow: none;
  border-radius: 0;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  outline: 0;
  resize: none;
  border: 0;
  height: 35px;
  width: 300px;
 }

 /*.search-field input:focus{
   background: white;
 }*/
.searchbar{
  margin-right: 100px;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  padding: 1px;
}
.search-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: left;
  outline: 0;
  width: 32px;
  height: 35px;
  background-color: white;
}
.search-icon-img{
  box-shadow: none;
  outline: 0;
  position: inherit;
  background-image: url(http://res.cloudinary.com/pulsr/image/upload/v1467749571/zoom-or-search-tool_318-34054_sp57he.jpg);
  background-size: cover;
  border: 0;
  width: 18px;
  height: 18px;
}

@media (max-width: 964px){
/* July 21 commented these out because sizing the window smaller would cause */
/* the Cumulonimbus logo to go to a new line, take on a different bg-color, */
/* and also change its order -MM */

  /*.header{
    flex-wrap: wrap;
  }*/
  .header-left{
    /*order: 2;*/
    /*background-color: #272626;*/
    width: 100%;
  }
  #logo:hover{
    cursor: pointer;
  }
  .header-right{
    width: 100%;
    margin-left: 100px;
  }
  .searchbar{
    margin-right: 0 !important;
  }
}

#tracks-index{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  flex-direction: column;
  margin-top: 30px;
}

.tracks{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.track-image{
  position: relative;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.track-image:hover{
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.track-index-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px 5px 5px;
}

.track-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track-item-data{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
}

.track-item-data-left{
  display: flex;
  align-items: center;
}

.track-text {
  margin: 8px 0 8px 0;
  text-align: center;
  width: 225px;
  font-family: 'Lato', sans-serif;
}

.like-container, .comment-container, .play-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5px;
}

.likes, .comment-count, .play-count {
  font-family: 'Lato', sans-serif;
  margin-left: 3px;
}
.red{
  color: red;
}

.like-button, .comment-counter, .play-button{
  background-color: white;
  color: black;
  font-family: 'Lato', sans-serif;
  border: 1px solid #e5e5e5;

  padding: 2px 6px 3px;
  /*margin: 3px;*/
  display: flex;
  align-items: center;
  /*text-align: center;*/
  border-radius: 3px;
  height: 23px;
  outline: none;
  align-self: center;
  -webkit-transition: border 0.3s ease;
  -moz-transition: border 0.3s ease;
  -o-transition: border 0.3s ease;
  -ms-transition: border 0.3s ease;
  transition: border 0.3s ease;
}

.comment-counter{
  background-color: transparent;
  color: grey;
  border: 0;
}

.like-button:hover, .play-button:hover{
  cursor: pointer;
  border: 1px solid black;
  -webkit-transition: border 0.3s ease;
  -moz-transition: border 0.3s ease;
  -o-transition: border 0.3s ease;
  -ms-transition: border 0.3s ease;
  transition: border 0.3s ease;
}

.like-heart{
  margin-top: 4px;
}

/* FORMS */
.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-text {
  font-family: 'Lato', sans-serif;
}

.session-button{
  background-color: #ff4000;
  color: white;
  font-family: 'Lato', sans-serif;
  border: 0;

  /*padding: 0px 20px;*/
  margin: 3px;
  min-width: 100px;
  display: block;
  /*text-align: center;*/
  border-radius: 3px;
  height: 32px;
  outline: none;
}

.session-button:hover{
  cursor: pointer;
}

.field{
  margin: 3px;
}

.session-textbox{
  padding-left: 8px;
  font-size: 14px;
  height: 33px;
  width: 200px;
}

h2{
  font-size: 22px;
}

.bolded{
  font-weight: bold;
}

/*music-player*/
.music-player-container{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.music-player{
  width: 70%;
  box-shadow: 0 1px 4px rgba(0,0,0,0.8);
  border-radius: 5px;
}

.track-controls{
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #898585;
}

.track-name{
  font-family: 'Neuton', serif;
  font-size: 16px;
}

.track-name span{
  color: #afcde2;
  margin-left: 20px;
}

.artist-name{
  font-family: 'Neuton', serif;
  font-size: 16px;
}

.artist-name span{
  margin-left: 20px;
  color: #afcde2;
}

.track-cover{
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 3px;
}
